
.item-agenda-orange {
    width: max-content;
    height: auto;
    background-color: #EEA43D;
    border-radius: 1vw;
    color: #fff;
    font-weight: 600;
    letter-spacing: .1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.8vw 0.6vw;
}

p {
    font-weight: 600;
    margin: 0;
}
.hour {
    font-weight: 400;
}